body {
    font-family: 'Allan';
    font-size: 22px;
    background-color: black;
}
#container{
  width: 800px;
  height: 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.35)),url(images/s5.jpg);
  margin: 40px auto;
}
#calculator{
  width: 320px;
  height: 520px;
  background-color: #eaedef;
  margin: 0 auto;
  top: 20px;
  position: relative;
  border-radius: 5px;
  box-shadow: 13px 11px 0px 13px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result{
  height: 120px
}
#history{
  text-align: right;
  height: 20px;
  margin: 0 20px;
  padding: 20px;
  font-size: 15px;
  color: #919191;
}
#output{
  text-align: right;
  height: 60px;
  margin: 10px 20px;
  font-size: 30px;
}
#keyboard{
  height: 400px
}
.operator{
  background-color: #aaedaf;
}
.operator, .number, .empty{
  width: 50px;
  height: 50px;
  margin: 15px;
  float: left;
  border-radius: 50%;
  border-width: 0;
  font-weight: bold;
  font-size: 15px;
}
.number, .empty{
  background-color: #eaedef;
}
.number, .operator{
  cursor: pointer;
}
.number:active, .operator:active{
  font-size: 13px;
}

.operator:focus, .number:focus, .empty:focus{
  outline: 0;
}

button:nth-child(4){
  font-size: 20px;
  background-color: #5EFF33;
}
button:nth-child(8){
  font-size: 20px;
  background-color: #3358FF;
}button:nth-child(12){
  font-size: 20px;
  background-color: #F033FF;
}button:nth-child(16){
  font-size: 20px;
  background-color: #FF3342;
}button:nth-child(20){
  font-size: 20px;
  background-color: #eeeabb;
}
